@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-regular-webfont.woff') format('woff2');
}

* {
    box-sizing: border-box;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat',-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Helvetica,Arial,sans-serif;
    line-height: normal;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
}

#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#results {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    width: 80%;
}

.loading {
    color: #ffffff;
    display: none;
    padding: 100px 30px;
    text-align: center;
}

.spinner .loading {
    display: block;
}

.row {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    transition: background-color 1s linear;
}

.row div {
    flex: 1 1 0;
    padding: 10px 16px;
}

.row.header {
    background: #192038;
    color: #ffffff;
    font-weight: 600;
}

.row.priceFall .lastUpdated {
    color: #ff0000;
}

.row.priceRise .lastUpdated {
    color: #0abe51;
}